# app directory exclusions
/app/locale/*
/app/combined*
/app/*.out
/app/*.html
/app/thirdparty/*/
/app/*.js
/app/*.wasm
/app/wpd*

# electron directory exclusions
/electron/node_modules/
/electron/package-lock.json

# webserver directory exclusions
/webserver/settings.json
/webserver/webserver

# generated directories
/WebPlotDigitizer-*

# general
.DS_Store
