/*
	WebPlotDigitizer - http://arohatgi.info/WebPlotDigitizer
	
	Version 2.0

	Copyright 2010 Ankit Rohatgi <ankitrohatgi@hotmail.com>

	This file is part of WebPlotDigitizer.

    WebPlotDigitizer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    WebPlotDigitizer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with WebPlotDigitizer.  If not, see <http://www.gnu.org/licenses/>.


*/

html
{
	height:99%;
	width:99%;
	padding:0;
	margin:0 auto;
}
body
{
	margin: 0 0;
	width: 100%;
	height:100%;
	font: 12px/22px Verdana, sans; 
	background: white;
}

tr,td
{
	margin:0;
	padding:0;
}

textarea { resize: none; }

#bodyTable
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}


#canvasTD
{
	margin:0;
	padding:0;
	height:100%;
}

#canvasDiv
{
	height:100%;
	background: white;
	padding:0;
	margin:0;
}

#mainCanvas
{
	border: thin grey solid;
	background: white;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;

}

#zoomCanvas
{
	border: thin grey solid;
	margin: 0;
	padding: 0;
	background: white;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;

}

input[type="button"]
{
	font-family: Verdana, Sans;
	font-size: 12px;
	background: white;
	-moz-box-shadow: 0px 0px 4px grey;
	-webkit-box-shadow: 0px 0px 4px grey;
	border: thin grey solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

}

input[type="text"]
{
	font-family: Verdana, Sans;
	font-size: 12px;
	background: white;
	border: thin black solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

input[type="range"]
{
	height: 5px;
	background: white;
	border: thin black solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0px 0px 4px grey;
	-webkit-box-shadow: 0px 0px 4px grey;
}

.standardToolbar 
{
	height:25px;
	padding: 0 0px;
	margin: 0 0px;
}

.toolbar
{
    padding: 0 10px;
    margin: 0;
    height: 25px;
    position: absolute;
    top:0px;
    left:5px;
    visibility: hidden;
   
}

.toolbar p { padding:0; margin:0; }

.popup
{	
	padding:12px 8px;
	margin:0;
	border: thin grey solid;
	background:white;
	z-index:100;
	position:absolute;
	top:0;
	left:0;
	-moz-box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	visibility:hidden;

}

.popup p { padding:0; margin: 5px 5px;}


.sidebar
{
	padding:0px 0px;
	margin:0;
	border: thin grey solid;
	background:white;
	position:absolute; 
	width:200px;
	top:0px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	visibility: hidden;
	font-size:12px;
}

.sidebar p { padding: 0; margin: 5px 5px; font-size:12px;}

