<div style="display: flex; flex-direction: column; width: 168px; max-height:100%;">
    <div id="tree-container" style="flex: 1; overflow-y: auto;">
        <!-- tree -->
    </div>
    
    <!-- tree widgets -->
    <div id="axes-group-tree-widget" class="tree-widget" style="flex: 0 0 100px;">
        <p><b>Axes</b></p>
        <center>
        <p><input type="button" value="Calibrate" style="width:150px;" onclick="wpd.alignAxes.editAlignment();"/></p>
        <p><input type="button" value="Import Calibration" style="width:150px;"/></p>
        <p><input type="button" value="Export Calibration" style="width:150px;"/></p>
        </center>
    </div>
    
    <div id="dataset-group-tree-widget" class="tree-widget" style="flex: 0 0 100px;">
        <p><b>Datasets</b></p>
        <center>
        <p><input type="button" value="Add Dataset" style="width:150px;" onclick="wpd.dataSeriesManagement.addSeries();"/></p>
        <p><input type="button" value="Export All Data" style="width:150px;" onclick="wpd.popup.show('export-all-data-popup');"/></p>
        </center>
    </div>

    <div id="measurement-group-tree-widget" class="tree-widget" style="flex: 0 0 100px;">
        <p><b>Measurements</b></p>
        <center>
        <p><input type="button" value="Distance" style="width:150px;" onclick="wpd.tree.addMeasurement(wpd.measurementModes.distance);"/></p>
        <p><input type="button" value="Angle" style="width:150px;" onclick="wpd.tree.addMeasurement(wpd.measurementModes.angle);"/></p>
        </center>
    </div>
    
</div>
