/*
	WebPlotDigitizer - https://automeris.io/WebPlotDigitizer
	
	Copyright 2010-2019 Ankit Rohatgi <ankitrohatgi@hotmail.com>

	This file is part of WebPlotDigitizer.

    WebPlotDigitizer is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    WebPlotDigitizer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with WebPlotDigitizer.  If not, see <http://www.gnu.org/licenses/>.
*/


/* Generic Menus */

.wpd-menu {
    font-size: 14px;
    display: inline-block;
    position: relative;
    cursor: default;
}

.wpd-menu:hover>.wpd-menu-dropdown {
    visibility: visible;
    z-index: 50;
}

.wpd-menu:hover>.wpd-menu-header,
.wpd-menu-dropdown>ul>li:hover {
    background: #FFD8C7;
}

.wpd-menu-dropdown>ul>li:active {
    background-color: #FF9466;
}

.wpd-menu-header {
    position: relative;
    padding: 5px;
    height: 18px;
}

.wpd-menu-dropdown {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    background: white;
    padding: 0px;
}

.wpd-menu-dropdown>ul {
    list-style: none;
    list-style-type: none;
    padding: 1px;
    margin: 0px;
    white-space: nowrap;
    border: thin #ccc solid;
}

.wpd-menu-dropdown>ul>li {
    padding: 3px 8px 3px 8px;
}

.wpd-disabled-menu-item {
    color: grey;
}


textarea {
    resize: none;
}

input[type="button"],
button {
    font-family: Verdana, sans-serif;
    padding: 2px 3px 2px 3px;
    font-size: 13px;
    font-weight: 500;
    color: black;
    background-color: #f1f1f1;
    border: thin #bbbbbb solid;
    height: 22px;
    margin: 0px;
}

input[type="button"]:hover,
button:hover {
    background-color: #FFD8C7;
    border: thin black solid;
}

input[type="button"]:active,
button:active {
    background-color: #FF9466;
}

input[type="button"].pressed-button,
button.pressed-button {
    background-color: #FF9466;
}

input[type="button"]:focus,
button:focus {
    outline-width: 0;
}

input[type="button"]:disabled {
    color: grey;
}

/* Sort of a hack to make button look right in Firefox */
input[type="button"]::-moz-focus-inner {
    margin-top: -1px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border: thin black solid;
    background: white;
}

input[type="text"] {
    font-family: Verdana, Sans Serif;
    font-size: 13px;
    background: white;
    border: thin #aaaaaa solid;
    height: 17px;
}

input[type="range"] {
    height: 13px;
    background: white;
    border: thin lightgrey solid;
}

input[type=range]::-moz-range-track {
    background: grey;
}

input[type="file"] {
    font-size: 14px;
}

hr {
    height: 1px;
    border: none;
    background-color: #dddddd;
}

select {
    border: none;
}

.tree-item {
    cursor: pointer;
    padding: 2px;
    margin-bottom: 20px;
}

.tree-folder {
    cursor: pointer;
    padding: 2px;
}

.tree-list {
    list-style: none;
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 11pt;
}

.tree-list-root {
    list-style: none;
    padding-left: 1px;
    font-family: sans-serif;
    font-size: 11pt;
    margin-top: 10px;
}

.tree-item:hover,
.tree-folder:hover {
    background: #FFD8C7;
}

.tree-selected {
    background: #FF9466;
}

.tree-selected:hover {
    background: #FF9466;
}

.tree-item:active,
.tree-folder:active,
.tree-item::selection {
    background: #FF9466;
}

.tree-widget {
    display: none;
    font-size: 13px;
}

.tree-widget p {
    margin: 5px 0px 5px 0px;
}