<div class="wpd-menu">
    <div class="wpd-menu-header">File</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li id="wpd-filemenu-loadimage" onclick="wpd.popup.show('loadNewImage');">Load Image</li>
            <li id="wpd-filemenu-capture" onclick="wpd.webcamCapture.start();">Webcam Capture</li>
            <li id="wpd-filemenu-runscript" onclick="wpd.scriptInjector.start();">Run Script</li>
            <li id="wpd-filemenu-saveimage" onclick="wpd.graphicsWidget.saveImage();">Save Image</li>
            <li id="wpd-filemenu-exportdata" onclick="wpd.saveResume.save();">Export JSON</li>
            <li id="wpd-filemenu-import" onclick="wpd.saveResume.load();">Import JSON</li>
        </ul>
    </div>
</div>
<!--
<div class="wpd-menu">
    <div class="wpd-menu-header">Image</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li>Restore Image</li>
            <li>Crop</li>
            <li>Rotate</li>
            <li>Resize</li>
            <li>Grayscale</li>
            <li>Threshold</li>
        </ul>
    </div>
</div>
-->
<div class="wpd-menu">
    <div class="wpd-menu-header">Axes</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li id="wpd-axesmenu-defineaxes" onclick="wpd.popup.show('axesList');">Calibrate Axes</li>
            <!-- <li id="wpd-axesmenu-grid" onclick="wpd.gridDetection.start();">Detect Grid</li> -->
            <li id="wpd-axesmenu-tranformation-equations" onclick="wpd.transformationEquations.show();">Transformation Equations</li>
        </ul>
    </div>
</div>
<div class="wpd-menu">
    <div class="wpd-menu-header">Data</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li id="wpd-datamenu-acquire" onclick="wpd.acquireData.load();">Acquire Data</li>
            <li id="wpd-datamenu-manage" onclick="wpd.dataSeriesManagement.manage();">Manage Datasets</li>
        </ul>
    </div>
</div>
<div class="wpd-menu">
    <div class="wpd-menu-header">Analyze</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li id="wpd-analyzemenu-distance" onclick="wpd.distanceMeasurement.start();">Measure Distances</li>
            <li id="wpd-analyzemenu-angles" onclick="wpd.angleMeasurement.start();">Measure Angles</li>
        </ul>
    </div>
</div>
<div class="wpd-menu">
    <div class="wpd-menu-header">Help</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li id="wpd-helpmenu-about" onclick="wpd.popup.show('helpWindow');">About WebPlotDigitizer</li>
            <li id="wpd-helpmenu-tutorial"><a href="http://arohatgi.info/WebPlotDigitizer/tutorial.html" target="_blank">Tutorials</a></li>
            <li id="wpd-helpmenu-manual"><a href="http://arohatgi.info/WebPlotDigitizer/userManual.pdf" target="_blank">User Manual</a></li>
            <li id="wpd-helpmenu-github"><a href="https://github.com/ankitrohatgi/WebPlotDigitizer" target="_blank">GitHub Page</a></li>
            <li id="wpd-helpmenu-issues"><a href="https://github.com/ankitrohatgi/WebPlotDigitizer/issues" target="_blank">Report Issues</a></li>
            <li id="wpd-helpmenu-donate"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=CVFJGV5SNEV9J&lc=US&item_name=WebPlotDigitizer&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">Donate (PayPal)</a></li>
        </ul>
    </div>
</div>

