	<div id="shadow" style="width:100%; height:100%; background-color: rgba(0,0,0,0.3); position:absolute; top:0px; left:0px; z-index:50; visibility:hidden;">
	</div>

	<div id="loadNewImage" class="popup" style="width: 400px;">
	<p align="center" class="popupheading">Load Image File</p>
	<p>&nbsp;</p>
	<p align="center"><input type="file" id="fileLoadBox" onchange="wpd.popup.close('loadNewImage');"></p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Cancel" onClick="wpd.popup.close('loadNewImage');"></p>
	</div>

    <div id="zoom-settings-popup" class="popup" style="width: 300px;">
    <p class="popupheading">Magnified View Settings</p>
    <p>&nbsp;</p>
    <center>
    <table>
    <tr><td><p>Magnification: </p></td><td><p><input type="text" id="zoom-magnification-value" size="3"/> Times</p></td></tr>
    <tr>
        <td><p>Crosshair Color: </p></td>
        <td><p>
        <select id="zoom-crosshair-color-value">
            <option value="black">Black</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
        </select>
        </td>
    </tr>
    </table>
    </center>
    <p>&nbsp;</p>
    <p align="center"><input type="button" value="Apply" onclick="wpd.zoomView.applySettings();"/> <input type="button" value="Cancel" onclick="wpd.popup.close('zoom-settings-popup');"/></p>
    </div>
 
    <div id="runScriptPopup" class="popup" style="width: 500px;">
    <p class="popupheading">Run Script</p>
    <p>&nbsp;</p>
    <p align="center">Load a Javascript file to further extend the capabilities of WebPlotDigitizer. As of now, this is intended only for developers who may already be familiar with some of the source code. The API for these scripts may be documented in the future.</p>
    <p>&nbsp;</p>
    <p align="center"><input type="file" id="runScriptFileInput"/></p>
    <p>&nbsp;</p>
    <p align="center"><input type="button" value="Run" onclick="wpd.scriptInjector.load();"/> <input type="button" value="Cancel" onclick="wpd.scriptInjector.cancel();"/></p>
    </div>

    <div id="webcamCapture" class="popup" style="width: 650px;">
    <p class="popupheading">Webcam Capture</p>
    <p>&nbsp;</p>
    <p align="center"><video id="webcamVideo" autoplay="true" height="350"></video></p>
    <p align="center"><input type="button" value="Capture" onclick="wpd.webcamCapture.capture();"/> <input type="button" value="Cancel" onclick="wpd.webcamCapture.cancel();"/></p>
    </div>

    <div id="messagePopup" class="popup" style="width: 300px;">
    <p id="message-popup-heading" class="popupheading"></p>
    <p>&nbsp;</p>
    <p align="center" id="message-popup-text"></p>
    <p>&nbsp;</p>
    <p align="center"><input type="button" value="OK" onclick="wpd.messagePopup.close()"/></p>
    </div>

    <div id="okCancelPopup" class="popup" style="width: 300px;">
    <p id="ok-cancel-popup-heading" class="popupheading"></p>
    <p>&nbsp;</p>
    <p align="center" id="ok-cancel-popup-text"></p>
    <p>&nbsp;</p>
    <p align="center"><input type="button" value="OK" onclick="wpd.okCancelPopup.ok()"/> <input type="button" value="Cancel" onclick="wpd.okCancelPopup.cancel()"/></p>
    </div>


	<div id="axesList" class="popup" style="width: 400px;">
	<p align="center" class="popupheading">Choose Plot Type</p>
	<p>&nbsp;</p>
	<center>
	<table>
	<tr><td align="left"><label><input type="radio" name="plotlisting" id="r_xy" checked> 2D (X-Y) Plot</label></td></tr>
	<!-- <tr><td align="left"><label><input type="radio" name="plotlisting" id="r_bar"> 2D Bar Plot</label></td></tr> -->
	<tr><td align="left"><label><input type="radio" name="plotlisting" id="r_polar"> Polar Diagram</label></td></tr>
	<tr><td align="left"><label><input type="radio" name="plotlisting" id="r_ternary"> Ternary Diagram</label></td></tr>
	<tr><td align="left"><label><input type="radio" name="plotlisting" id="r_map"> Map With Scale Bar</label></td></tr>
	<tr><td align="left"><label><input type="radio" name="plotlisting" id="r_image"> Image</label></td></tr>
	</table>
	</center>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Align Axes" onclick="wpd.alignAxes.start();">&nbsp;<input type="button" value="Cancel" onClick="wpd.popup.close('axesList');"></p>
	</div>

	<div id="xyAlignment" class="popup" style="width: 400px;">
	<p align="center" class="popupheading">X and Y Axes Calibration</p>
	<p>&nbsp;</p>
	<p align="center">Enter X-values of the two points clicked on X-axis and Y-values of the two points clicked on Y-axes</p>
	<center>
	<table padding="10">
		<tr><td></td>
			<td align="center" valign="bottom">Point 1</td>
			<td align="center" valign="bottom" width="80">Point 2</td>
			<td align="center" valign="bottom" width="82">Log Scale</td>
		</tr>
	    <tr><td align="center">X-Axis:</td>
	        <td align="center"><input type="text" size="8" id="xmin" value="0"></td>
	        <td align="center"><input type="text" size="8" id="xmax" value="1"></td>
	        <td align="center"><input type="checkbox" id="xlog"></td>
	    </tr>
	    <tr><td align="center">Y-Axis:</td>
	        <td align="center"><input type="text" size="8" id="ymin" value="0"></td>
	        <td align="center"><input type="text" size="8" id="ymax" value="1"></td>
	        <td align="center"><input type="checkbox" id="ylog"></td>
	    </tr>
	</table>
	<p align="center" class="footnote">*For dates, use yyyy/mm/dd format (e.g. 2013/10/23 or 2013/10). For exponents, enter values as 1e-3 for 10^-3.</p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" id="xybtn" value="OK" onclick="wpd.alignAxes.align();"></p>
	</center>
	</div>

	<div id="mapAlignment" class="popup" style="width: 200px;">
	<p align="center" class="popupheading">Scale Size</p>
	<p>&nbsp;</p>
	<p align="center"><input type="text" size="6" id="scaleLength" value="1"> <input type="text" size="6" id="scaleUnits" value="Units"/></p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" id="xybtn" value="OK" onclick="wpd.alignAxes.align();"></p>
	</div>

	<div id="polarAlignment" class="popup" style="width: 200px;">
	<p align="center"><b>Point 1</b> <!-- <input type="checkbox" id="xlog"> Log Scale --></p>
	<p align="center">R<sub>1</sub>: <input type="text" size="6" id="rpoint1" value="1"></p>
	<p align="center">Θ<sub>1</sub>: <input type="text" size="6" id="thetapoint1" value="1"></p>
	<p align="center"><b>Point 2</b> <!-- <input type="checkbox" id="xlog"> Log Scale --></p>
	<p align="center">R<sub>2</sub>: <input type="text" size="6" id="rpoint2" value="1"></p>
	<p align="center">Θ<sub>2</sub>: <input type="text" size="6" id="thetapoint2" value="1"></p>
	<p align="center"><input type="radio" id="degrees" name="angleUnits" checked> Degrees <input type="radio" id="radians" name="angleUnits"> Radians</p>
	<p align="center"><input type="checkbox" id="clockwise"> Clockwise</p>
	<p align="center"><input type="button" value="OK" onclick="wpd.alignAxes.align();"></p>
	</div>

	<div id="ternaryAlignment" class="popup">
	<p align="center" class="popupheading">Select Range of Variables</p>
	<p>&nbsp;</p>
	<p align="center">Axes Orientation</p>
	<center>
	<table>
	  <tr><td><img src="images/ternarynormal.png" width="200"></td><td><img src="images/ternaryreverse.png" width="200"></td></tr>
	  <tr><td><p align="center"><input type="radio" name="ternaryOrientation" id="ternarynormal" checked> Normal</p></td><td><p align="center"><input type="radio" name="ternaryOrientation" id="ternaryreverse"> Reverse</p></td></tr>
	</table>
	</center>
	<p align="center">Range of Variables</p>
	<center>
	<table><tr><td><p align="center"><input type="radio" id="range0to1" name="ternaryRange" checked> 0 to 1&nbsp;&nbsp;</p></td><td><p align="center">&nbsp;&nbsp;<input type="radio" id="range0to100" name="ternaryRange"> 0 to 100</p></td></tr></table>
	</center>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="OK" onclick="wpd.alignAxes.align();"></p>
	</div>

	<div id="csvWindow" class="popup" style="width: 580px; height: 480px;">
	<p align="center" class="popupheading">Acquired Data</p>
    <p align="center">Dataset: <span id="data-table-dataset">Default Dataset</span></p>
	<p align="center">
		Sort by:
		<select id="data-sort-variables" onchange="wpd.dataTable.reSort();">
		</select> 
		Order: 
		<select id="data-sort-order" onchange="wpd.dataTable.reSort();">
			<option value="ascending">Ascending</option>
			<option value="descending">Descending</option>
		</select>
	</p>
	<p align="center">
		<span id="data-date-formatting-container">
		Date Formatting:
        <span id="data-date-formatting"></span>         
		<input type="button" value="Format" onclick="wpd.dataTable.reSort();"/>
		</span>
	</p>
	<p align="center">Variables: <span id="dataVariables"></span></p>
	<p align="center"><textarea id="digitizedDataTable" style="width: 480px; height: 250px;"></textarea></p>
	<p align="center">
		<input type="button" value="Select All" onclick="wpd.dataTable.selectAll();"/>
        <input type="button" value="Download .CSV" onclick="wpd.dataTable.generateCSV();"/>
		<input type="button" value="Graph in Plotly*" onclick="wpd.dataTable.exportToPlotly();"/>
		<input type="button" value="Close" onclick="wpd.popup.close('csvWindow');"/>
	</p>
	<p align="center" class="footnote">*Plotly is a secure data analysis and graphing site with data sharing and access controls.</p>
	<p align="center" class="footnote">Visit <a href="http://plot.ly" target="plotlyWebsite">http://plot.ly</a> for details.</p>
	</div>

    <div id="measurement-data-window" class="popup" style="width: 580px;">
    <p align="center" class="popupheading">Measurement Data</p>
    <p align="center"><textarea id="measurement-data-table" style="width: 480px; height: 250px;"></textarea></p>
    <p align="center">
        <input type="button" value="Select All" onclick="wpd.measurementData.selectAll();"/>
        <input type="button" value="Download .CSV" onclick="wpd.measurementData.generateCSV();"/>
        <input type="button" value="Close" onclick="wpd.measurementData.close();"/>
    </p>
    </div>

	<div id="xyAxesInfo" class="popup" style="width: 350px;"> 
	<p align="center" class="popupheading">Align X-Y Axes</p>
	<p>&nbsp;</p>
	<p align="center"><img src="images/xyaxes.png" /></p>
	<p align="center">Click four known points on the axes in the <font color="red">order shown in red</font>. Two on the X axis (X1, X2) and two on the Y axis (Y1, Y2).</p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Proceed" onclick="wpd.xyCalibration.pickCorners();"></p>
	</div>

	<div id="mapAxesInfo" class="popup" style="width: 350px;"> 
	<p align="center" class="popupheading">Align Map To Scale Bar</p>
	<p>&nbsp;</p>
	<p align="center"><img src="images/map.png" /></p>
	<p align="center">Click on the two ends of the scale bar on the map.</p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Proceed" onclick="wpd.mapCalibration.pickCorners();"></p>
	</div>

	<div id="polarAxesInfo" class="popup" style="width: 350px;">
	<p align="center" class="popupheading">Align Polar Axes</p>
	<p>&nbsp;</p>
	<p align="center"><img src="images/polaraxes.png" /></p>
	<p align="center">Click on the center, followed by two known points.</p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Proceed" onclick="wpd.polarCalibration.pickCorners();"></p>
	</div>

	<div id="ternaryAxesInfo" class="popup" style="width: 350px;">
	<p align="center" class="popupheading">Align Ternary Axes</p>
	<p>&nbsp;</p>
	<p align="center"><img src="images/ternaryaxes.png" /></p>
	<p align="center">Click on the three corners in the order shown above.</p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Proceed" onclick="wpd.ternaryCalibration.pickCorners();"></p>
	</div>

	<div id="helpWindow" class="popup" style="width: 550px;">
	<p class="popupheading">WebPlotDigitizer - Web Based Plot Digitizer</p>
	<p>&nbsp;</p>
    <p align="center">Version {{ wpdVersion }}</p>
	<p align="center">This program is distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html" target="_blank">GNU General Public License Version 3</a>.</p>
	<p align="center">Copyright 2010-2014 Ankit Rohatgi &lt;ankitrohatgi@hotmail.com&gt;</p>
	<p align="center"><a href="http://arohatgi.info/WebPlotDigitizer" target="website">http://arohatgi.info/WebPlotDigitizer</a></p>
	<p>&nbsp;</p>
	<p align="center"><input type="button" value="Close" onclick="wpd.popup.close('helpWindow');"></p>
	</div>
    
    <div id="color-selection-widget" class="popup" style="width:400px;">
	<p align="center" id="color-selection-title" class="popupheading">Specify Color</p>
	<p align="center">&nbsp;</p>
    <div style="text-align:center;"><div id="color-selection-selected-color-box" class="largeColorBox"></div></div>
	<p align="center">&nbsp;</p>
	<p align="center">R:<input type="text" value="255" id="color-selection-red" size="3">&nbsp;
	G:<input type="text" id="color-selection-green" value="255" size="3">&nbsp; B:<input type="text" id="color-selection-blue" value="255" size="3">
	 <input type="button" value="Color Picker" onclick="wpd.colorSelectionWidget.pickColor();"></p>
	<p align="center">&nbsp;</p>
    <p>Dominant Colors: <div id="color-selection-options" style="text-align:center;"></div></p>
    <p>&nbsp;</p>
	<p align="center"><input type="button" value="Done" onclick="wpd.colorSelectionWidget.setColor();"></p>
	</div>

    <div id="manage-data-series-window" class="popup" style="width:400px;">
    <p align="center" class="popupheading">Manage Datasets</p>
    <p>&nbsp;</p>
    <center>
    <table>
    <tr>
        <td align="right">Selected Dataset: </td><td> &nbsp;<select id="manage-data-series-list" style="width:200px;" onchange="wpd.dataSeriesManagement.changeSelectedSeries();"><option>Default Dataset</option></select></td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr>
        <td align="right">Dataset Name: </td><td> &nbsp;
        <input type="text" id="manage-data-series-name" onblur="wpd.dataSeriesManagement.editSeriesName();" onchange="wpd.dataSeriesManagement.editSeriesName();"/>
        <input type="button" value="Change" onclick="wpd.dataSeriesManagement.editSeriesName();"/></td>
    </tr>
    <tr>
        <td align="right">Data Points: </td><td> &nbsp;<span id="manage-data-series-point-count">0</span></td>
    </tr>
    </table>
    </center>
    <p>&nbsp;</p>
    <p align="center">
        <input type="button" value="Add" onclick="wpd.dataSeriesManagement.addSeries();"/>
        <input type="button" value="Delete" onclick="wpd.dataSeriesManagement.deleteSeries();"/>
        <input type="button" value="View Data" onclick="wpd.dataSeriesManagement.viewData();"/>
        <input type="button" value="Close" onclick="wpd.popup.close('manage-data-series-window');"/>
    </p>
    </div>
