<!-- axes calibration -->
<div id="axes-calibration-sidebar" class="sidebar">
<p class="sidebar-title">Axes Calibration</p>
<p>Click points to select and use cursor keys to adjust positions. Use Shift+Arrow for faster movement. Click complete when finished.</p>
<p align="center"><input type="button" value="Complete!" style="width: 120px;" onclick="wpd.alignAxes.getCornerValues();"/></p>
</div>

<!-- manual mode -->
<div id="acquireDataSidebar" class="sidebar">
<p class="sidebar-title">Manual Mode <input type="button" value="Automatic Mode" style="width: 125px;" onclick="wpd.autoExtraction.start();"></p>
<hr/>
<p>Dataset <select id="manual-sidebar-dataset-list" onchange="wpd.acquireData.changeDataset(this);" style="width:160px;"></select></p>
<hr/>
<p>
    <input type="button" value="Add Point (A)" onclick="wpd.acquireData.manualSelection();" style="width:115px;" id="manual-select-button">
    <input type="button" value="Adjust Point (S)" onClick="wpd.acquireData.adjustPoints();" style="width: 115px;" id="manual-adjust-button">
</p>
<div class="vertical-spacer"></div>
<p>
    <input type="button" value="Delete Point (D)" onclick="wpd.acquireData.deletePoint();" style="width: 115px;" id="delete-point-button">
    <input id="clearAllBtn" type="button" value="Clear Points" onCLick="wpd.acquireData.clearAll();" style="width: 115px;">
</p>
<div class="vertical-spacer"></div>
<p>
    <input type="button" value="Edit Labels (E)" id="edit-data-labels" onclick="wpd.acquireData.editLabels();" style="display: none; width: 115px;">
    <input type="button" value="View Data" id="saveBtn" onclick="wpd.dataTable.showTable();" style="width:115px;">
</p>
<div class="vertical-spacer"></div>
<p>Data Points: <span class="data-point-counter">0</span></p>
</div>

<!-- edit image -->
<div id="editImageToolbar" class="sidebar">
<p align="center"><b>Edit Image</b></p>
<p align="center"><input type="button" value="H. Flip" style="width: 75px;" onclick="hflip();"><input type="button" value="V. Flip" style="width: 75px;" onClick="vflip();"></p>
<p align="center"><input type="button" value="Crop" style="width: 150px;" onclick="cropPlot();"></p>
<p align="center"><input type="button" value="Restore" style="width: 150px;" onclick="restoreOriginalImage();"></p>
<p align="center"><input type="button" value="Save .PNG" style="width: 150px;" onclick="savePNG();"></p>
</div>

<!-- automatic mode -->
<div id="auto-extraction-sidebar" class="sidebar">
<p class="sidebar-title">Automatic Mode <input type="button" value="Manual Mode" style="width:110px;" onclick="wpd.acquireData.load();"/></p>
<hr/>
<p>Dataset <select id="automatic-sidebar-dataset-list" onchange="wpd.acquireData.changeDataset(this);" style="width:160px;"></select></p>
<hr/>
<p>Mask <input type="button" value="Box" style="width:50px;" onclick="wpd.dataMask.markBox();" id="box-mask"><input type="button" value="Pen" style="width:45px;" onClick="wpd.dataMask.markPen();" id="pen-mask"><input type="button" value="Erase" style="width:50px;" onClick="wpd.dataMask.eraseMarks();" id="erase-mask"><input type="button" value="View" style="width:40px;" onclick="wpd.dataMask.viewMask();" id="view-mask"/></p>
<hr/>
<p>Color <select id="color-detection-mode-select" onchange="wpd.colorPicker.changeDetectionMode();"><option value="fg">Foreground Color</option><option value="bg">Background Color</option></select><input type="button" id="color-button" value=" " onclick="wpd.colorPicker.startPicker();" style="width: 25px;" title="Click to change color"/></p>
<p>Distance <td><td><input type="text" size="3" id="color-distance-value" onchange="wpd.colorPicker.changeColorDistance();"/>
<input type="button" value="Filter Colors" onclick="wpd.colorPicker.testColorDetection();" style="width: 90px;"></p>
<hr/>
<p>Algorithm
<select id="auto-extract-algo-name" onchange="wpd.algoManager.applyAlgoSelection();"></select>
</p>
<div id="algo-parameter-container" style="margin-left: 10px; margin-top: 5px;"></div>
<div class="vertical-spacer"></div>
<p style="margin-top: 5px;">
    <input type="button" value="Run" style="width:40px;" onclick="wpd.algoManager.run();"/>
    <input type="button" value="Clear Points" style="width:95px;" onclick="wpd.acquireData.clearAll();"/>
    <input type="button" value="View Data" style="width:80px;" onclick="wpd.dataTable.showTable();"/>
</p>
<hr/>
<p>Data Points: <span class="data-point-counter">0</span></p>
</div>

<!-- distance measurement -->
<div id="measure-distances-sidebar" class="sidebar">
<p class="sidebar-title">Measure Distances</p>
<p>
    <input type="button" value="Add Pair (A)" style="width: 115px;" id="add-pair-button" onclick="wpd.distanceMeasurement.addPair();"/>
    <input type="button" value="Delete Pair (D)" style="width: 115px;" id="delete-pair-button" onclick="wpd.distanceMeasurement.deletePair();"/> 
</p>
<div class="vertical-spacer"></div>
<p>
    <input type="button" value="Clear All" style="width: 115px;" id="clear-all-pairs-button" onclick="wpd.distanceMeasurement.clearAll();"/>
    <input type="button" value="View Data" style="width: 115px;" id="view-measurement-data-button" onclick="wpd.dataTable.showDistanceData();"/>
</p>
</div>

<!-- angle measurement -->
<div id="measure-angles-sidebar" class="sidebar">
<p class="sidebar-title">Measure Angles</p>
<p>
    <input type="button" value="Add Angle (A)" style="width: 115px;" id="add-angle-button" onclick="wpd.angleMeasurement.addAngle();"/>
    <input type="button" value="Delete Angle (D)" style="width: 115px;" id="delete-angle-button" onclick="wpd.angleMeasurement.deleteAngle();"/>
</p>
<div class="vertical-spacer"></div>
<p>
    <input type="button" value="Clear All" style="width: 115px;" onclick="wpd.angleMeasurement.clearAll();"/>
    <input type="button" value="View Data" style="width: 115px;" onclick="wpd.dataTable.showAngleData();"/>
</p>
</div>

<!-- grid detection -->
<div id="grid-detection-sidebar" class="sidebar">
<p class="sidebar-title">Detect Grid</p>
<p>
    Mask
    <input type="button" value="Box" style="width: 60px;" id="grid-mask-box" onclick="wpd.gridDetection.markBox();"/>
    <input type="button" value="Clear" style="width: 60px;" id="grid-mask-clear" onclick="wpd.gridDetection.clearMask();"/>
    <input type="button" value="View"  style="width: 60px;" id="grid-mask-view" onclick="wpd.gridDetection.viewMask();"/>
</p>
<hr/>
<p>
    Color
    <input type="button" value="Pick" style="width: 60px;" id="grid-color-picker-button" onclick="wpd.gridDetection.startColorPicker();"/>
    <input type="text" value="120" style="width: 60px;" id="grid-color-distance" onchange="wpd.gridDetection.changeColorDistance();"/>
    <input type="button" value="Test" style="width: 60px;" id="grid-color-test" onclick="wpd.gridDetection.testColor();"/>
</p>
<hr/>
<table>
    <tr><td align="right">Horizontal </td><td><input type="checkbox" id="grid-horiz-enable" checked/></td></tr>
    <tr><td align="right">Detection Width </td><td>&nbsp; <input type="text" value="5" id="grid-horiz-detection-width" style="width: 40px;"/></td></tr>
    <tr><td align="right">Line Width </td><td>&nbsp; <input type="text" value="5" id="grid-horiz-line-width" style="width: 40px;"/></td></tr>
</table>
<hr/>
<table>
    <tr><td align="right">Vertical </td><td><input type="checkbox" id="grid-vert-enable" checked/></td></tr>
    <tr><td align="right">Detection Width </td><td>&nbsp; <input type="text" value="5" id="grid-vert-detection-width" style="width: 40px;"/></td></tr>
    <tr><td align="right">Line Width </td><td>&nbsp; <input type="text" value="5" id="grid-vert-line-width" style="width: 40px;"/></td></tr>
</table>
<hr/>
<p>
    <input type="button" value="Detect" style="width: 80px;" onclick="wpd.gridDetection.run();"/>
    <input type="button" value="Clear" style="width: 80px;" onclick="wpd.gridDetection.clear();"/>
</p>
</div>
