<div class="i18n-string" id="i18n-string-wpd">WebPlotDigitizer</div>
<div class="i18n-string" id="i18n-string-unstable-version-warning">Unstable version warning!</div>
<div class="i18n-string" id="i18n-string-unstable-version-warning-text">You are using a beta version of WebPlotDigitizer. There may be some issues with the software that are expected.</div>
<div class="i18n-string" id="i18n-string-import-json">Import JSON</div>
<div class="i18n-string" id="i18n-string-json-data-loaded">JSON data has been loaded!</div>
<div class="i18n-string" id="i18n-string-calibration-invalid-inputs">Invalid Inputs</div>
<div class="i18n-string" id="i18n-string-calibration-enter-valid">Please enter valid values for calibration.</div>
<div class="i18n-string" id="i18n-string-acquire-data">Acquire Data</div>
<div class="i18n-string" id="i18n-string-acquire-data-calibration">Please calibrate the axes before acquiring data.</div>
<div class="i18n-string" id="i18n-string-clear-data-points">Clear data points?</div>
<div class="i18n-string" id="i18n-string-clear-data-points-text">This will delete all data points from this dataset</div>
<div class="i18n-string" id="i18n-string-webcam-capture">Webcam Capture</div>
<div class="i18n-string" id="i18n-string-webcam-capture-text">Your browser does not support webcam capture using HTML5 APIs. A recent version of Google Chrome is recommended.</div>
<div class="i18n-string" id="i18n-string-transformation-eqns">Transformation Equations</div>
<div class="i18n-string" id="i18n-string-transformation-eqns-text">Transformation equations are available only after axes have been calibrated.</div>
<div class="i18n-string" id="i18n-string-unsupported">Unsupported Feature!</div>
<div class="i18n-string" id="i18n-string-unsupported-text">This feature has not been implemented in the current version. This may be available in a future release.</div>
<div class="i18n-string" id="i18n-string-processing">Processing</div>
<div class="i18n-string" id="i18n-string-invalid-file">ERROR: Invalid File!</div>
<div class="i18n-string" id="i18n-string-invalid-file-text">Please load a valid image file. Common image formats such as JPG, PNG, BMP, GIF etc. should work. PDF or Word documents are not accepted.</div>
<div class="i18n-string" id="i18n-string-raw">Raw</div>
<div class="i18n-string" id="i18n-string-nearest-neighbor">Nearest Neighbor</div>
<div class="i18n-string" id="i18n-string-manage-datasets">Manage Datasets</div>
<div class="i18n-string" id="i18n-string-manage-datasets-text">Please calibrate the axes before managing datasets.</div>
<div class="i18n-string" id="i18n-string-can-not-delete-dataset">Can Not Delete!</div>
<div class="i18n-string" id="i18n-string-can-not-delete-dataset-text">You can not delete this dataset as at least one dataset is required.</div>
<div class="i18n-string" id="i18n-string-delete-dataset">Delete Dataset</div>
<div class="i18n-string" id="i18n-string-delete-dataset-text">You can not delete this dataset as at least one dataset is required.</div>
<div class="i18n-string" id="i18n-string-averaging-window">Averaging Window</div>
<div class="i18n-string" id="i18n-string-x-step-with-interpolation">X Step w/ Interpolation</div>
<div class="i18n-string" id="i18n-string-x-step">X Step</div>
<div class="i18n-string" id="i18n-string-blob-detector">Blob Detector</div>
<div class="i18n-string" id="i18n-string-bar-extraction">Bar Extraction</div>
<div class="i18n-string" id="i18n-string-histogram">Histogram</div>
<div class="i18n-string" id="i18n-string-specify-foreground-color">Specify Plot (Foreground) Color</div>
<div class="i18n-string" id="i18n-string-specify-background-color">Specify Background Color</div>



