<div class="i18n-string" id="i18n-string-wpd">WebPlotDigitizer</div>
<div class="i18n-string" id="i18n-string-unstable-version-warning">Unstable version warning!</div>
<div class="i18n-string" id="i18n-string-unstable-version-warning-text">You are using a beta version of WebPlotDigitizer. There may be some issues with the software that are expected.</div>
<div class="i18n-string" id="i18n-string-import-json">Import JSON</div>
<div class="i18n-string" id="i18n-string-json-data-loaded">JSON data has been loaded!</div>
<div class="i18n-string" id="i18n-string-calibration-invalid-inputs">Invalid Inputs</div>
<div class="i18n-string" id="i18n-string-calibration-enter-valid">Please enter valid values for calibration.</div>
<div class="i18n-string" id="i18n-string-acquire-data">Acquire Data</div>
<div class="i18n-string" id="i18n-string-acquire-data-calibration">Please calibrate the axes before acquiring data.</div>
<div class="i18n-string" id="i18n-string-clear-data-points">Clear data points?</div>
<div class="i18n-string" id="i18n-string-clear-data-points-text">This will delete all data points from this dataset</div>

