<!-- Erase Toolbar -->
<div id="eraseToolbar" class="toolbar" style="width:350px;">
<p><input type="button" id="clearMaskBtn" value="{{ _("Erase All") }}" style="width:80px;" onclick="wpd.dataMask.clearMask();"/>
{{ _("Stroke Width") }} <input type="range" id="eraseThickness" min="1" max="150" value="20" style="width:100px;"></p>
</div>

<!-- Paint Toolbar -->
<div id="paintToolbar" class="toolbar" style="width:350px;">
<p>{{ _("Stroke Width") }} <input type="range" id="paintThickness" min="1" max="150" value="20" style="width:100px;"></p>
</div>

<!-- Adjust Points Toolbar -->
<div id="adjustDataPointsToolbar" class="toolbar" style="width:350px;">
<p><input type="button" value="{{ _("View Keyboard Shortcuts") }}" onclick="wpd.popup.show('adjust-data-points-keyboard-shortcuts-window');"/></p>
</div>
