{% extends "_base.html" %}
{% block scripts %}
<!-- Individual, uncompressed javascript files -->
<script src="javascript/browser/browserInfo.js"></script>
<script src="javascript/core/AEalgos/averagingWindow.js"></script>
<script src="javascript/core/AEalgos/averagingWindowCore.js"></script>
<script src="javascript/core/AEalgos/averagingWindowWithStepSize.js"></script>
<script src="javascript/core/AEalgos/barExtraction.js"></script>
<script src="javascript/core/AEalgos/blobdetector.js"></script>
<script src="javascript/core/AEalgos/xStepWithInterpolation.js"></script>
<script src="javascript/core/appData.js"></script>
<script src="javascript/core/autoDetection.js"></script>
<script src="javascript/core/axes/bar.js"></script>
<script src="javascript/core/axes/image.js"></script>
<script src="javascript/core/axes/map.js"></script>
<script src="javascript/core/axes/polar.js"></script>
<script src="javascript/core/axes/ternary.js"></script>
<script src="javascript/core/axes/xy.js"></script>
<script src="javascript/core/calibration.js"></script>
<script src="javascript/core/colorAnalysis.js"></script>
<script src="javascript/core/connectedPoints.js"></script>
<script src="javascript/core/dataSeries.js"></script>
<script src="javascript/core/dateConversion.js"></script>
<script src="javascript/core/gridDetectionCore.js"></script>
<script src="javascript/core/inputParser.js"></script>
<script src="javascript/core/mathFunctions.js"></script>
<script src="javascript/core/plotData.js"></script>
<script src="javascript/main.js"></script>
<script src="javascript/services/download.js"></script>
<script src="javascript/services/plotly.js"></script>
<script src="javascript/services/saveResume.js"></script>
<script src="javascript/services/scriptInjection.js"></script>
<script src="javascript/tools/alignAxes.js"></script>
<script src="javascript/tools/autodetect.js"></script>
<script src="javascript/tools/colorPicker.js"></script>
<script src="javascript/tools/dataProviders.js"></script>
<script src="javascript/tools/graphicsHelper.js"></script>
<script src="javascript/tools/gridDetection.js"></script>
<script src="javascript/tools/imageOps.js"></script>
<script src="javascript/tools/keyCodes.js"></script>
<script src="javascript/tools/manualDataCollection.js"></script>
<script src="javascript/tools/mask.js"></script>
<script src="javascript/tools/measurement.js"></script>
<script src="javascript/widgets/dataSeriesManagement.js"></script>
<script src="javascript/widgets/dataTable.js"></script>
<script src="javascript/widgets/graphicsWidget.js"></script>
<script src="javascript/widgets/layoutManager.js"></script>
<script src="javascript/widgets/popups.js"></script>
<script src="javascript/widgets/sidebars.js"></script>
<script src="javascript/widgets/toolbars.js"></script>
<script src="javascript/widgets/transformationEquations.js"></script>
<script src="javascript/widgets/webcam.js"></script>
<script src="javascript/widgets/zoom.js"></script>
{% endblock %}
