<div class="wpd-menu">
    <div class="wpd-menu-header">{{ _("File") }}</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li onclick="wpd.popup.show('loadNewImage');">{{ _("Load Image") }}</li>
            <li onclick="wpd.saveResume.load();">{{ _("Load Project") }}</li>
            <li onclick="wpd.saveResume.save();">{{ _("Save Project") }}</li>
            <li onclick="wpd.scriptInjector.start();">{{ _("Run Script") }}</li>
        </ul>
    </div>
</div>
{% if enableTesting == True %}
<button onclick="wpdtests.runTests();">Run Tests</button>
{% endif %}
<div class="wpd-menu">
    <div class="wpd-menu-header">{{ _("Help") }}</div>
    <div class="wpd-menu-dropdown">
        <ul>
            <li id="wpd-helpmenu-about" onclick="wpd.popup.show('helpWindow');">{{ _("About WebPlotDigitizer") }}</li>
            <li id="wpd-helpmenu-tutorial"><a href="https://automeris.io/WebPlotDigitizer/tutorial.html" target="_blank">{{ _("Tutorials") }}</a></li>
            <li id="wpd-helpmenu-manual"><a href="https://automeris.io/WebPlotDigitizer/userManual.pdf" target="_blank">{{ _("User Manual") }}</a></li>
            <li id="wpd-helpmenu-github"><a href="https://github.com/ankitrohatgi/WebPlotDigitizer" target="_blank">{{ _("GitHub Page") }}</a></li>
            <li id="wpd-helpmenu-issues"><a href="https://github.com/ankitrohatgi/WebPlotDigitizer/issues" target="_blank">{{ _("Report Issues") }}</a></li>
            <li id="wpd-helpmenu-donate"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=CVFJGV5SNEV9J&lc=US&item_name=WebPlotDigitizer&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">{{ _("Donate (PayPal)") }}</a></li>
        </ul>
    </div>
</div>